pandas
streamlit
streamlit_option_menu
ydata-profiling
streamlit-ydata-profiling
streamlit_ydata_profiling
pycaret
path
AutoDataCleaner
numba==0.58.1
visions>0.7.4
shap
streamlit_shap
numpy
# scikit-learn==1.1.1